*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #950808;
    font-size: 20px;
    font-style: italic;
    font-family:'Roboto', sans-serif;
    position: sticky;
    top: 10PX;
    color: white;
}
.header-flex a{
    color: white;
}
#gridIndex {
    display: grid;
    grid-template-columns: 100%;;
    grid-template-rows: 15% 70% 15% ;
}
.video {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    font-style: italic;
    color: #950808;
    margin: 10px;
    padding: 10px;
}

.parrafo {
    text-align: right;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #950808;
    color: white;
}

/* exclusivo de fixture*/
.parrafoFechas {     
    text-align: right;
    font-size: 36px;
    font-family :'Roboto', sans-serif;
    font-style: normal;
    color: #950808;
}

.tabla {
    text-align: center;
    color: #950808;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
   
}


.parrafoJoin {
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: white;
    color: #950808;
    padding-left: 30px;
}



footer {
    background-color: #950808;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

/*boton home*/
.home-flex {
    display: flex;
    color: #950808;
    text-align: center;
    margin-left: 40px;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
}

.boton {
    width: 110px;
    text-decoration: none;
    color: white;
    margin-right: 140px;
    font-size: x-large;
    background-color: #950808;
    padding: 10px;
    border-radius: 16px;
    transition: width 1s,;
}
.boton:hover {
    width: 130px;

}

.boton2 {
    width: 100px;
    text-decoration: none;
    color: white;
    margin-left: 140px;
    font-size: x-large;
    background-color: #950808;
    padding: 10px;
    border-radius: 16px;
    transition: width 1s;
}
.boton2:hover {
    width: 120px;
}

.imgJurgen {
    margin: 10px;
    width:207px;
    height:255px;
}

#shop {
    text-align: center;
    padding-left: 250px;
}

.pieDePagina {
    width: 80%;
    margin: 20px

}


.nikeLogo {
    width: 50%;
    max-width: 100px;
    margin-left: 40px;
    
    
}

.frase {
    font-size: 2rem;
    margin-left: 0px;
    
}

.twitter {
    width: 80px;
    margin-right:20px;
    margin-top: 10px;

}

.instagram {
    width: 80px;
    margin-right:20px;
    margin-bottom: 10px;
}

.fraseJurgen {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #950808;
    display: inline;
    width: 80px;
    font-size:large;
    padding-right: 10px;
    padding-top: 10px;
}

.imgVyF {
    margin: 40px ;
    width: 330px;
    border: 10px solid #488460;
    transition: width 1s;
}
.imgVyF:hover {
    width: 350px;
}

.imgThiago {
    width: 330px;
    border: 10px solid #488460;
    transition: width 1s;
}
.imgThiago:hover{
    width: 350px;
}

.imgFixture {
    width :682px
}

.navPieDePagina-flex {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}

.parrafoTwitter {
    margin-right: 40px;
}

.parrafoInstagram {
    margin-right: 40px;
}

.arrow {
    width: 10%;
    transition: width 1s;
}
.arrow:hover {
    width: 13%;
}


.textoShop {
    font-size: x-large;
    color: #950808;
}

#news {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parteJurgen-flex {
    display: flex;
    background-image: linear-gradient(to bottom left, white, #488460) ;
    
}

.redes-flex {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.ropa {
    width: 200px;
    height: 260px;
    background-image: linear-gradient(to bottom left, white, #488460);
    transition: width 0.5s height 0.5s;
}
.ropa:hover{
    width: 220px ;
    height: 280px;
}

#gridShop {
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: repeat(3,400px);
    justify-content: center;
}

.ropa-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#gridFixture {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}

.fechas-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.join-flex {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.logo {
    width: 600px;
    height: 600px;
}

.logoHeader {
    width: 150px;
}


.gol-flex {
    background-image: linear-gradient(to bottom left, white 50%, #488460);
}

 .goleadores-grid {
     display: grid;
     grid-template-columns: 40% 40%;
     grid-template-rows: 400px 400px 400px;
     justify-content: center;
     align-items: center;
 }
 
 .imgGoleadores {
    width: 400px;
    margin-left: 30px;
}
.imgMane {
    width: 260px;
    margin-left: 30px;
    padding-right: 140px;
}

.textoGoleadores {
    font-size: x-large;
    color: #950808;
    font-weight: bold;
    margin-left: 40px;
}




@media (max-width: 1023px) and (min-width: 481px){
    
    .mediaNews-flex {
        display: flex;
        flex-direction: column;
    }
    #gridFixture {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        
    }
    .imgFixture { 
        width: 480px;
    }

    .ropa-flex {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .join-flex {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 480px;
        height: 480px;
    }

    .goleadores-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 200px);
    }

    .imgGoleadores .imgMane {
        margin-top: 40px;
    }

    .textoGoleadores {
        margin-left: 120px;
        margin-bottom: 50px;
    }
}


@media (max-width:480px) {
    .mediaNews-flex {
        display: flex;
        flex-direction: column;
    }
    #gridFixture {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        
    }
    .imgFixture { 
        width: 460px;
    }

    .ropa-flex {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .join-flex {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 400px;
        
    }

    .goleadores-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 200px);
    }

    .imgGoleadores .imgMane {
        margin-top: 40px;
    }

    .textoGoleadores {
        margin-left: 120px;
        margin-bottom: 50px;
    }

}